body {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
}

span {
  font-style: italic;
  display: block;
}

.result > p > span > img {
  width: 100px;
  height: 100px;
}

button {
  padding: 14px 32px;
  margin-right: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #b3b0b0;
}

.finalResult > p {
  font-size: 24px;
  font-weight: 900;
  color: #049104;
}

.finalResult > button {
  margin-bottom: 38px;
  padding: 14px 48px;
  font-weight: 900;
  font-size: 22px;
}
